*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/
/pubspec.lock
**/doc/api/
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/package_config_subset
.dart_tool/package_config.json

